boltons
brotlipy
certifi
cffi
charset-normalizer
colorama
conda
conda-content-trust
conda-package-handling
conda_package_streaming
cryptography
idna
jsonpatch
jsonpointer
menuinst
packaging
pip
pluggy
pycosat
pycparser
pyOpenSSL
PySocks
requests
ruamel.yaml
ruamel.yaml.clib
setuptools
six
toolz
tqdm
urllib3
wheel
win-inet-pton
wincertstore
zstandards
